.home {
    padding: 50px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px auto;
  }
  
  .home .left {
    max-width: 50%;
    padding-right: 20px; /* Optional: Adds spacing between left and right sections */
  }
  .home .left h2{
    font-size: 50px;
    font-size: 600;
    color: rgb(65, 62, 62);
    margin-bottom: 20px;
  }
  .home .left p{
    font-size: 17px;
    font-size: 600;
    color:rgb(109, 126, 126);
    padding-right: 5px;
    text-align: justify; /* Justifies the text */
    margin: 0 auto; /* Centers the paragraph */
  }
  .home .right {
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .home .right img {
    width:100%; /* Adjusts the image width to fill its container */
    height: auto; /* Maintains the aspect ratio of the image */
    max-width: none; /* Removes the max-width restriction */
  }
  
   