.footer-bottom {
    width: 100%;
    background-color: rgb(14, 146, 14);
    padding: 6px 6px;
  }
  .bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
  }
  .bottom span{
    color: white;
    margin-left:10px;
    margin-right: 10px;
  }